In [1]:
import sqlite3

path = "/Users/mateljk1/Documents/projects/ml4paleo/data/raw_stacks/Paddlefish.mcs"

In [2]:
db = sqlite3.connect(path)

In [3]:
# get table names
cursor = db.cursor()

In [5]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()

[('blobs',), ('blobs_parts',)]

In [6]:
# get column names from `blobs`:
cursor.execute("PRAGMA table_info(blobs);").fetchall()

[(0, 'blob_id', 'INTEGER', 0, None, 1),
 (1, 'blob_name', 'VARCHAR(128)', 1, None, 0),
 (2, 'number_of_parts', 'INT', 1, None, 0)]

In [8]:
# Show ythe first 10 rows of the `blobs` table:
cursor.execute("SELECT * FROM blobs LIMIT 5;").fetchall()

[(1, 'blob_0', 1),
 (2, 'blob_1', 1),
 (3, 'blob_2', 1),
 (4, 'blob_3', 1),
 (5, 'blob_4', 1)]

In [10]:
data = cursor.execute("SELECT * FROM blobs_parts LIMIT 5;").fetchall()

In [12]:
len(data)

5